
/* recetas*/

/*extend*/

.recipes{
    border: 1px solid  ;
}

.animrecet-uno{
    @extend.recipes;
    border-color: black;
    
    
}
.animrecet-dos{
    @extend.recipes;
    border-color: brown;
}
.animrecet-tres{
    @extend.recipes;
    border-color: black;
}




#receta{
    font-size: 150%;
}

.gridRecipes{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:min-content ;
    grid-template-areas:
    "rec1"
    "rec2"
    "rec3"
    ;
   gap: 2%;
}

.rec1{
    grid-area: rec1;
}
.rec2{
    grid-area: rec2;
}
.rec3{
    grid-area: rec3;
}

.hover:hover{
    transform: scale(0.5) ;
    transition-property: all;
    transition-duration: 1.5s;
}


@media (min-width:768px){
    
    .gridRecipes{
        
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "rec1 rec2 "
        "rec3";
        
    }
    #receta{
        font-size: 200%;
    }

}

@media (min-width:992px){
    .gridRecipes{
        
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: min-content;
        grid-template-areas: 
        "rec1 rec2 rec3"
        "rec1 rec2 rec3";
        
    }
    
    #receta{
        font-size: 300%;
    }

}