

.recipes{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "rec1"
    "rec2"
    "rec3"
    "rec4"
    ;
   gap: 2%;
   margin-bottom: 5%;
   margin-left: 1%;
   
}


.rec1{
    grid-area: rec1;
}
.rec2{
    grid-area: rec2;
}
.rec3{
    grid-area: rec3;
}
.rec4{
    grid-area: rec4;
}

.hover:hover{
    transform: scale(0.5) ;
    transition-property: all;
    transition-duration: 1.5s;
    
}
.hover{
    box-shadow: 3px 3px 5px #999;
    border-radius: 300px;
}
.h2rec{
    font-size: 200%;
    
}
.deco{
    text-decoration: none;
}


@media (min-width:768px){
    
    .recipes{
        
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas: 
        "rec1 rec2 "
        "rec3 rec4";
        margin-bottom: 5%;
        
        
    }
    

}

@media (min-width:992px){
    .recipes{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
        grid-template-areas: 
        "rec1 rec2 rec3 rec4"
        ;
        
    }
    
    

}