



.list-unstyled{
    li{ display: flex;
        justify-content: center;
        a{
            color: black;
            text-decoration: none;
        }
    } 

} 
.categorias{
    font-size: 200%;
   
}


/*
.grillaShop{
    display: none;

    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:  
    "shop1 "
    "shop2"
    "shop3"
    "shop4"
    "shop5"
    "shop6"
    "shop7"
    "shop8"
    ;
    .shop1, .shop2, .shop3, .shop4, .shop5, .shop6, .shop7, .shop8{
        display: flex;
        justify-content: center;

    } 
    
    gap: 1%;
    
}





@media  (min-width:576px){
    .grillaShop{
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas:
        "shop1 shop2"
        "shop3 shop4"
        "shop5 shop6"
        "shop7 shop8";
       
    }
    .col-2{
        display: none;
    }
   
   
   
}

@media (min-width:768px){
    .grillaShop{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "shop1 shop2"
        "shop3 shop4"
        "shop5 shop6"
        "shop7 shop8";
        
    }
    
    .cat{
        font-size: medium;
    }
    .col-2{
        display: block;
    }
    
    
}

@media (min-width:992px){
    .grillaShop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1.1fr ;
        grid-template-areas: 
        "shop1 shop2 shop3"
        "shop4 shop5 shop6"
        "shop7 shop8 shop9";
        margin-bottom: 0.5%;
        
    }
    .cat{
        font-size: medium;
    }
    
    
}

@media (min-width:1240px){
    .grillaShop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.1fr ;
        grid-template-areas: 
        "shop1 shop2 shop3 shop4 "
        "shop5 shop6 shop7 shop8 ";  
    }
    .cat{
        font-size: large;
    }

}*/

.boxes{
    margin-left: 0.5%;
}

.box3{
    font-family: 'Lora', serif;
    font-size: 100%;
    display: flex;
    justify-content: center;
}

.nombreProducto{
    color: $colorfuente;
    font-family: 'Lora', serif;
    font-size: 150%;
}

.botonCompra{
    background-color: $colorfuente;
    border-color: $colorfuente;
}

#contenedorPadre{

    display:flex;
}

#listaProductos{

    width: 250%;
}
#carrito{
    
    background-color: $colorbakc; 
    height: 100vh;
    flex-wrap: wrap;
}

img{
    height: 100%;
}

  td{
    height: 100px;
  }

.fot{
    width: 10%;
    height: 30%;
}