@import "variables";
@import "productos";
@import "recetas";
@import "shop";




@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Lora:ital@1&family=Playfair+Display&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto+Slab:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
}
  
body {
    overflow-x: hidden;
    flex-wrap: wrap;
    background-color: rgb(241, 239, 241);
}
    
.contactHeader{
    background-color: $colorbakc;      
}

h1{
    font-family: 'Lora', serif;
    color: brown;
    font-size: 400%;
    font-weight: 20% ;
    display: flex;
    justify-content: center;
}


h2{
    font-family: 'Playfair Display', serif;
    color:#754435;
    display: flex;
    justify-content: center;
    
}
 
section h3{
    font-family: 'Playfair Display', serif;
    color: brown;
    display: flex;
    justify-content: center;
}

footer {
    background-color: $colorbakc;
    height: 200%; 
 
}
.footer-title{
    font-size: small;
}
.footerh5{
    font-size: small;
}

.subtitulos{
    font-size: $subtitulos;  
    color: $colorfuente;
}


nav {
    display: flex;
    ul{
        display: flex;
        li{
            list-style-type: none;
                    display: flex;
                    a{ 

                        text-decoration: none;
                                    color: rgb(43, 34, 34);
                                    font-size: 125%;
                                    font-family: 'Akshar', sans-serif;
                                    margin: 4rem 2rem;
                    }
        
        }
    }
   

}

.navbar{
    height: 150px;
}
.navbar1{
    align-items: center;
}

.carousel{
    margin: 50px 50px 50px 50px;
}


@media (max-width:992px) {
    .navbar-nav{
        background-color: rgb(223, 209, 203);
        font-size: larger;
               
        position: absolute;
        z-index: 10;
    }
   
}

.consulta{
    font-family: 'Playfair Display', serif;
    color: brown;
}

.ingreceta{
    font-size: $tamanorece;

}

.ingredientes{
    justify-content: left;
}


$redes:(
    instagram:#C25E,
    facebook:#3a5795,
);

@each $red, $color in $redes {
    .btn-#{$red}{
        background-color: $color;
    }
    
};
.botones{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}





