@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Lora:ital@1&family=Playfair+Display&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto+Slab:wght@300;400&display=swap");
.productos {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-template-areas: "tortas1 tortas2 tortas3 tortas4" "tortas5 tortas6 tortas7 tortas8" "tortas9 tortas10 tortas11 tortas12";
  margin-left: 1%;
}

.tortas, .shop {
  border-radius: 70px;
  box-shadow: 3px 3px 5px #999;
}

.tortas1 {
  grid-area: tortas1;
}

.tortas2 {
  grid-area: tortas2;
}

.tortas3 {
  grid-area: tortas3;
}

.tortas4 {
  grid-area: tortas4;
}

.tortas5 {
  grid-area: tortas5;
}

.tortas6 {
  grid-area: tortas6;
}

.tortas7 {
  grid-area: tortas7;
}

.tortas8 {
  grid-area: tortas8;
}

.tortas9 {
  grid-area: tortas9;
}

.tortas10 {
  grid-area: tortas10;
}

.tortas11 {
  grid-area: tortas11;
}

.tortas12 {
  grid-area: tortas12;
}

.tortas:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

.h2tortas {
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  .productos {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-template-areas: "tortas1 " "tortas2" "tortas3" "tortas4" "tortas5 " "tortas6" "tortas7" "tortas8" "tortas9 " "tortas10" "tortas11" "tortas12";
  }
}
@media (max-width: 880px) and (min-width: 600px) {
  .productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-template-areas: "tortas1 tortas2" "tortas3 tortas4" "tortas5 tortas6" "tortas7 tortas8" "tortas9 tortas10" "tortas11 tortas12";
  }
}
@media (max-width: 992px) and (min-width: 880px) {
  .productos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-template-areas: "tortas1 tortas2 tortas3" "tortas4 tortas5 tortas6" "tortas7 tortas8 tortas9" "tortas10 tortas11 tortas12";
  }
}
.recipes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "rec1" "rec2" "rec3" "rec4";
  gap: 2%;
  margin-bottom: 5%;
  margin-left: 1%;
}

.rec1 {
  grid-area: rec1;
}

.rec2 {
  grid-area: rec2;
}

.rec3 {
  grid-area: rec3;
}

.rec4 {
  grid-area: rec4;
}

.hover:hover {
  transform: scale(0.5);
  transition-property: all;
  transition-duration: 1.5s;
}

.hover {
  box-shadow: 3px 3px 5px #999;
  border-radius: 300px;
}

.h2rec {
  font-size: 200%;
}

.deco {
  text-decoration: none;
}

@media (min-width: 768px) {
  .recipes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "rec1 rec2 " "rec3 rec4";
    margin-bottom: 5%;
  }
}
@media (min-width: 992px) {
  .recipes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "rec1 rec2 rec3 rec4";
  }
}
.list-unstyled li {
  display: flex;
  justify-content: center;
}
.list-unstyled li a {
  color: black;
  text-decoration: none;
}

.categorias {
  font-size: 200%;
}

/*
.grillaShop{
    display: none;

    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:  
    "shop1 "
    "shop2"
    "shop3"
    "shop4"
    "shop5"
    "shop6"
    "shop7"
    "shop8"
    ;
    .shop1, .shop2, .shop3, .shop4, .shop5, .shop6, .shop7, .shop8{
        display: flex;
        justify-content: center;

    } 

    gap: 1%;

}





@media  (min-width:576px){
    .grillaShop{
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas:
        "shop1 shop2"
        "shop3 shop4"
        "shop5 shop6"
        "shop7 shop8";

    }
    .col-2{
        display: none;
    }



}

@media (min-width:768px){
    .grillaShop{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "shop1 shop2"
        "shop3 shop4"
        "shop5 shop6"
        "shop7 shop8";

    }

    .cat{
        font-size: medium;
    }
    .col-2{
        display: block;
    }


}

@media (min-width:992px){
    .grillaShop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1.1fr ;
        grid-template-areas: 
        "shop1 shop2 shop3"
        "shop4 shop5 shop6"
        "shop7 shop8 shop9";
        margin-bottom: 0.5%;

    }
    .cat{
        font-size: medium;
    }


}

@media (min-width:1240px){
    .grillaShop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.1fr ;
        grid-template-areas: 
        "shop1 shop2 shop3 shop4 "
        "shop5 shop6 shop7 shop8 ";  
    }
    .cat{
        font-size: large;
    }

}*/
.boxes {
  margin-left: 0.5%;
}

.box3 {
  font-family: "Lora", serif;
  font-size: 100%;
  display: flex;
  justify-content: center;
}

.nombreProducto {
  color: brown;
  font-family: "Lora", serif;
  font-size: 150%;
}

.botonCompra {
  background-color: brown;
  border-color: brown;
}

#contenedorPadre {
  display: flex;
}

#listaProductos {
  width: 250%;
}

#carrito {
  background-color: rgb(223, 209, 203);
  height: 100vh;
  flex-wrap: wrap;
}

img {
  height: 100%;
}

td {
  height: 100px;
}

.fot {
  width: 10%;
  height: 30%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  flex-wrap: wrap;
  background-color: rgb(241, 239, 241);
}

.contactHeader {
  background-color: rgb(223, 209, 203);
}

h1 {
  font-family: "Lora", serif;
  color: brown;
  font-size: 400%;
  font-weight: 20%;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Playfair Display", serif;
  color: #754435;
  display: flex;
  justify-content: center;
}

.exp {
  font-family: "Playfair Display", serif;
  color: brown;
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(223, 209, 203);
  height: 200%;
}

.footer-title {
  font-size: small;
}

.footerh5 {
  font-size: small;
}

.subtitulos {
  font-size: 40px;
  color: brown;
}

nav {
  display: flex;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  display: flex;
}
nav ul li a {
  text-decoration: none;
  color: rgb(43, 34, 34);
  font-size: 125%;
  font-family: "Akshar", sans-serif;
  margin: 4rem 2rem;
}

.navbar {
  height: 150px;
}

.navbar1 {
  align-items: center;
}

.carousel {
  margin: 50px 50px 50px 50px;
}

.map {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5%;
}

@media (max-width: 992px) {
  .navbar-nav {
    background-color: rgb(223, 209, 203);
    font-size: larger;
    position: absolute;
    z-index: 10;
  }
}
.consulta {
  font-family: "Playfair Display", serif;
  color: brown;
}

.ingreceta {
  font-size: 100%;
}

.ingredientes {
  justify-content: left;
}

.btn-instagram {
  background-color: rgba(204, 34, 85, 0.9333333333);
}

.btn-facebook {
  background-color: #3a5795;
}

.botones {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.insta {
  width: 15%;
  height: 50%;
}/*# sourceMappingURL=style.css.map */